[Desktop Entry]
Name=Password Generator
Name[de]=Passwortgenerator
Name[ja]=パスワードジェネレーター
Name[sv]=Lösenordsgenerator
Name[es]=Generador de contraseñas
Name[it]=Generatore di password
Name[fr]=Générateur de mots de passe
Comment=Create secure passwords
Comment[de]=Erstelle sichere Passwörter
Comment[ja]=安全なパスワードを作成
Comment[sv]=Skapa säkra lösenord
Comment[es]=Crea contraseñas seguras
Comment[it]=Crea password sicure
Comment[fr]=Créez des mots de passe sûrs
Exec=passwordgenerator
Icon=io.github.danst0.passwordgenerator
Terminal=false
Type=Application
Categories=Utility;GTK;
Keywords=Password;Security;Generator;
StartupNotify=true
