[Desktop Entry]
Name=Passwortgenerator
Comment=Erstelle sichere Passwörter
Exec=passwordgenerator
Icon=io.github.danst0.passwordgenerator
Terminal=false
Type=Application
Categories=Utility;GTK;
Keywords=Password;Security;Generator;
StartupNotify=true
